# Baidu Qianfan API Configuration
QIANFAN_API_KEY=
QIANFAN_BASE_URL=
CHAT_MODEL=glm-5.1
SUMMARY_MODEL=qwen3.5-122b-a10b
EMBEDDING_MODEL=qwen3-embedding-8b
RERANK_MODEL=qwen3-reranker-8b

# Milvus Configuration
# uri为空则使用本地文件
# MILVUS_URI=http://localhost:19530
RETRIEVE_LIMIT=20
RERANK_LIMIT=8
MILVUS_DB_NAME=milvus_local.db

CHUNK_MAX_LENGTH=1000